body{
  line-height: 1.5;
  font-family: Castoro, sans-serif;
}
img{
  vertical-align: middle;
}
header img {
  display: block;
  margin: 0 auto;
}
.font-title {
  font-size: 128px;
  letter-spacing: 0.12em;
}
h2{
  font-size: 40px;
}
.fs-1{
  font-size: 32px;
}
.fs-2{
  font-size: 24px;
}
.fs-3{
  font-size: 20px;
}
.d-block{
  display: block;
}
.text-italic{
  font-style: italic;
}
.text-center{
  text-align: center;
}
.text-start{
  text-align: left;
}
.text-end{
  text-align: right;
}
.container{
  width: 1296px;
  margin: 0 auto;
}
.mx-auto{
  margin: 0 auto;
}

.mt-5{
  margin-top: 40px;
}
.mt-6{
  margin-top: 48px;
}
.pt-160{
  padding-top: 160px;
}
section{
  display: block;
}
.resume-content{
  background-color: #efefef;
  padding-top: 48px;
  padding-bottom: 48px;
}
.resume-text{
  width: 636px;
  margin-left: auto;
}

.w-50 {
  width: 50%;
}
.personal-infor{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 120px;
}

.personal-infor .title {
  margin-bottom: 16px;
  color: #ae0000;
  border-bottom: solid #ae0000 3px;
  font-size: 40px;
  line-height: 60px;
}
.VE-text li{
  margin-bottom: 8px; 
}
.VE-text li:last-child{
  margin-bottom: 0px; 
}
.E-text li, .W-text li{
  margin-bottom: 16px; 
}
.E-text li:last-child, .W-text li:last-child{
  margin-bottom: 0px; 
}
.A-text li{
  margin-bottom: 12px; 
}
.A-text li:last-child{
  margin-bottom: 0px; 
}

.gray-94{
  color: #949494;
}

footer{
  background-color: #000;
  padding: 64px;
}
.social li{
  display: inline-block;
}
.social li{
  margin-right: 40px;
}
.social li:last-child {
  margin-right: 0px;
}